body {
    /* background-color: aqua; */
    margin: 0;
    font-family:'Bai Jamjuree', sans-serif;
}
p , li{
    color:hsl(201, 11%, 66%);
}

span {
    color: hsl(210, 10%, 33%);
}

h1, h2, h3{
    color: hsl(210, 10%, 33%);
    font-size: 28px;
}

.footer-iconn {
    font-size: 80px;
    color: hsl(171, 66%, 44%);
    /* margin-top: ; */
}

.container {
    background-image: url(../imgs/home-img.png);
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.container-home {
    margin: auto;
    width: 38%;
    height: 100%;
    text-align: center;
}

.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-icon {
    font-size: 100px;
    color: hsl(171, 66%, 44%);
}

.home-button {
    margin-top: 13px;
}

.home-btn1 {
    margin-right: 8px;
    color: aliceblue;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    background-color: hsl(171, 66%, 44%);
    border-radius: 23px;
}

.home-btn1:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px rgb(20 153 114);
}

.home-btn2 {
    color: aliceblue;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    background-color: hsl(233, 100%, 69%);
    border-radius: 23px;

}

.home-btn2:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px rgb(53, 81, 193);
}

/* end home */
/* start section1 */

.section1 {
    margin: 50px 0;
}

.frist-sec {
    margin: auto;
    width: 40%;
    text-align: center;
    line-height: 25px;
    margin-bottom: 20px;
}


.second-sec {
    display: flex;
    margin-top: 50px;
    /* justify-content: space-around; */
    /* height: 1000px; */
}

.img-sec {
    width:53%;
    position: relative;
    right: 25px;
}
.second-sec img {

    width: 100%;
    height: 100%;
}

.list-sec {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list-sec span {
    font-size: 20px;
    font-weight: 600;
}

.list-sec ul{
    line-height: 25px;

}

.list-sec li{
    list-style: none;
}

/* end section1 */
/* start section2 */
.section2 {
    margin: 50px 0;
}

.container-sec2 {
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-sec {
    line-height: 15px;
}

.img-sec2 {
    margin-top: 60px;
}

.img-sec2 img {
    width: 100%;
    height: 100%;
}

/* end section2 */
/* start section3 */

.section3 {
    margin: 50px 0;
}

.won-sec3 {
    margin-left: 90px;
    text-align: center;
}

.container-sec3 {
    width: 80%;
    /* height: 70vh; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frist-sec3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin:40px auto 60px;

}

.plain {
    margin-left: 10px;
    margin-right: 10px;
}

.second-sec3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-sec3 img {
    width: 100px;
}
/* end section3 */
/* start section4 */

.section4 {
    margin: 50px 0;
    width: 100%;
    /* height: 50vh; */
}

.container-sec4 {
    width: 42%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
}

.sec4-button {
    margin-top: 13px;
}

.sec4-btn1 {
    margin-right: 8px;
    color: aliceblue;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    background-color: hsl(171, 66%, 44%);
    border-radius: 23px;
}

.sec4-btn1:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px rgb(20 153 114);
}

.sec4-btn2 {
    color: aliceblue;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    background-color: hsl(233, 100%, 69%);
    border-radius: 23px;

}

.sec4-btn2:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px rgb(53, 81, 193);
}
/* end section4 */
/* start footer */
.footer {
    background-color: #f1f1f1;
    justify-content: space-evenly;
    height: 53px;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.footer-icon {
    font-size: 30px;
    color: hsl(171, 66%, 44%);
}

.container-foot {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.about-foot {
    /* flex-wrap: wrap;
    width: 60%;
    height: 80px;
    display: flex;
    align-content: flex-start; */
}

.link-foot {
    flex-wrap: wrap;
    width: 47%;
    display: flex;
}

.link-foot a {
    width: 26%;
    color: hsl(210, 10%, 33%);
    text-decoration: none;
}
.link-foot a:hover {
    color:hsl(171, 66%, 44%);
    cursor: pointer;
}

.icon {
    left: 50px;
    color:hsl(210, 10%, 33%) ;
    margin-left: 15px;
    font-size: 25px;
}
.icon:hover {
    color:hsl(171, 66%, 44%);
    cursor: pointer;
}

.conect-foot {
    display: flex;
}
/* end footer*/

/* 
    - Mobile: 375px
    - Desktop: 1440px
*/

@media (max-width:376px) {

    .container-home {
        width: 100%;
    }
    .home-info {
        width: 90%;
        margin: auto;
        /* margin-top: 50px; */
    }

    .home-button {
        width: 100%; 
    }
    .home-btn1 {
        width: 90%;
        margin-bottom: 17px;
    }
    .home-btn2 {
        width: 90%;
    }
    .container-sec1 {
        width: 100%;
    }
    .frist-sec {
        width: 90%;
        margin: auto;
    }
    .second-sec {
        flex-direction: column;
        margin: auto;
        text-align: center;
        width: 90%;
        margin-top: 55px;
    }
    .img-sec {
        width: 100%;
        right: 0;
        margin-bottom: 45px;
    }
    .list-sec {
        width: 100%;
    }
    .section2 {
        width: 100%;
    }
    .container-sec2 {
        width: 90%;
    }
    .img-sec2 {
        width: 100%;
    }
    .img-sec2 {
    width: 100%;
    }
    .section3 {
        width: 100%;
    }
    .container-sec3 {
    width: 90%;
    margin: auto;
    flex-direction: column;
    }
    .won-sec3 {
        margin:0 auto 50px;
        width: 100%;
    }
    .frist-sec3 {
        width: 100%;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .plain {
    margin: 45px 0;
    }
    .second-sec3 {
        width: 100%;
        flex-direction: column;
        margin-top: 55px;
    }
    .second-sec3 img{
    margin-bottom: 55px;
    }
    .section4 {
        width: 100%;
    }
    .container-sec4 {
        width: 100%;
        flex-direction: column;
    }
    .sec4-button {
        width: 100%;
    }
    .sec4-btn1 {
        width: 100%;
        margin-bottom: 17px;
    }
    .sec4-btn2 {
        width: 100%;
    }
    .footer {
        flex-direction: column;
        height: 300px;
        width: 100%;
    }
    .container-foot {
        width: 90%;
        flex-direction: column;
    }
    .link-foot {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 210px;
    }
    .link-foot a{
        text-align: center;
        width: 100%;
        margin-bottom: 20px
    }
    .conect-foot {
        width: 100%;
    }
    .conect-foot .icon {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .footer-icon {
        margin-bottom: 15px;
        transform: rotate(90deg);
    }

}

